.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  padding-bottom: 30px;
  padding-top: 30px;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.select{
  justify-content: right;
  padding: 4px;
  color: white;
  background-color: black;
}
.select:hover{
  color: black;
  background-color: #ffffff;
}

.btnPersonaje{
  color: rgb(255, 255, 255);
  font-size: 12px;
  background-color: #c31111;
  padding: 10px;
  border: 1.5px solid #ffffff;
}
.btnPersonaje:hover{
  color: black;
  background-color: #ffffff;
}

.btnPlace{
  color: rgb(255, 255, 255);
  font-size: 12px;
  background-color: #29d10b;
  padding: 10px;
  border: 1.5px solid #ffffff;
}
.btnPlace:hover{
  color: black;
  background-color: #ffffff;
}

.btnType{
  color: rgb(255, 255, 255);
  font-size: 12px;
  background-color: #172dd4;
  padding: 10px;
  border: 1.5px solid #ffffff;
}
.btnType:hover{
  color: black;
  background-color: #ffffff;
}

.btnRelation{
  color: rgb(255, 255, 255);
  font-size: 12px;
  background-color: #5c1b6c;
  padding: 10px;
  border: 1.5px solid #ffffff;
}
.btnRelation:hover{
  color: black;
  background-color: #ffffff;
}


.inputsPersonaje{
  color: rgb(255, 255, 255);
  font-size: 10px;
  background-color: #c31111;
  padding: 3px;
  border: 1.5px solid #ffffff;
}

.inputsPlace{
  color: rgb(255, 255, 255);
  font-size: 10px;
  background-color: #10c245;
  padding: 3px;
  border: 1.5px solid #ffffff;
}

.inputsType{
  color: rgb(255, 255, 255);
  font-size: 10px;
  background-color: #172dd4;
  padding: 3px;
  border: 1.5px solid #ffffff;
}

.inputsRelation{
  color: rgb(255, 255, 255);
  font-size: 10px;
  background-color: #5c1b6c;
  padding: 3px;
  border: 1.5px solid #ffffff;
}

.labelStyle{
  font-size: medium;
}


.personajes{
  padding-top: 20px;
  padding-left: 220px;
  padding-right: 220px;
  padding-bottom: 50px;
  border: 2px solid red;
  width: 720px;

}

.lugares{
  padding-top: 50px;
  padding-left: 220px;
  padding-right: 220px;
  padding-bottom: 50px;
  border: 2px solid #20d009;
  width: 720px;

}

.tipos{
  padding-top: 50px;
  padding-left: 220px;
  padding-right: 220px;
  padding-bottom: 50px;
  border: 2px solid #005eff;
  width: 720px;

}

.relation{
  padding-top: 50px;
  padding-left: 220px;
  padding-right: 220px;
  padding-bottom: 50px;
  border: 2px solid #a602e2;
  width: 720px;
}

.divStyle{
  padding: 2cm;
}

.portada{ 
  color: black;
  font-size: 30px;
  font-style: inherit;
}